<nav *ngIf="isLogged()" class="navbar header" id="navBuildHeader">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div id="divLogoHeader" class="col-3 col-sm-2 col-md-1 logo">
        <a href="#">
          <img src="./../../assets/images/logo_raizen.svg" alt="Raízen" />
        </a>
      </div>
      <div id="divInfoHeader" class="col-4 col-sm-5 col-md-6 info title">
        <span id="spanTitleHeader">Portal de Planejamento</span>
      </div>
      <div  class="col-4 col-sm-4 col-md-4 user-data text-right">
        <span id="spanUserNameHeader">Name</span>
        <br>
        <span id="spanAccessCodeHeader" class="access-code">Code</span>
      </div>
      <div ngbDropdown placement="bottom-right" id="menuDropDownHeader" class="col-1 col-sm-1 col-md-1 info drop-down-menu">
        <div ngbDropdownToggle id="divDropDownHeader">
          <em id="iconMenuHeader" class="fa fa-ellipsis-v icon-menu-header"></em>
        </div>
        <div ngbDropdownMenu id="itemDropDownHeader">
          <div (click)="logout()" id="buttonLogoutHome" class="dropdown-item">
            <div class="float-left text-left">Logout</div>
            <div class="text-right">
              <em class="fa fa-sign-out icon-dropdown-menu"></em>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

