@import './../../assets/sass/styles';

.container-fluid {
  width: 100%;
}

.header {
  background: none repeat scroll 0 0 $barney-purple;
  max-height: $height-header;
  position: fixed !important;
  width: 100% !important;
  z-index: 1000 !important;
}
.navbar {
  margin-top: 0;
  padding-top: 0;
}

.info {
  color: $light-whisper;
  font-family: $font-helveticaneue;
  font-size: .75rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.user-data {
  color: $white;
  font-family: $font-helveticaneue;
  font-size: .75rem;
  font-weight: bold;
  letter-spacing: -.1px;
  padding-top: 9px;
}

.row {
  width: 100%;
}

.access-code {
  color: $gainsboro;
  font-size: .68rem;
  font-weight: normal;
  letter-spacing: .6px;
}

.img-responsive {
  padding-top: 2.5vh;
}

.title {
  padding-top: 18px;
}

.icon-menu-header {
  float: right;
  padding-top: 14px;
}

.dropdown-toggle:hover {
  color: $seafoam-blue;
}

.dropdown-toggle {
  cursor: pointer;
  float: right;
  text-align: center;
  width: 40%;
}

.dropdown-toggle::after {
  display: none;
}

.fa-ellipsis-v {
  font-size: 1.7rem;
}

.icon-dropdown-menu {
  color: $barney-purple;
}

.dropdown-item:active {
  background-color: $smoke-grey;
  color: $purplish-brown;
}

.dropdown-item {
  cursor: pointer;
}

.logo {
  padding-top: 16px;
}
