<div class="app-dialog" id="divDialog" [ngClass]="{'alternative-style' : alternativeStyle}">
<div class="title" id="divTitleDialog">{{title}}</div>
<div class="subtitle" id="divSubtitleDialog">{{subtitle}}</div>
<div>
    <button mat-button mat-dialog-close class="no-button" id="divNoDialog">NÃO</button>
    <button mat-button [mat-dialog-close]="true" class="yes-button" id="divYesDialog">SIM</button>
</div>
</div>