@import './../../../assets/sass/styles';

.app-dialog {
    background-color: $white;
    padding: 0 20px 10px 20px;
    text-align: center;
}

.title {
    box-sizing: content-box;
    color: $purplish-brown;
    font-family: $font-dinpro-medium;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.4px;
    margin: auto;
    padding: 20px 0 20px 0;
    width: 360px;
}

.subtitle {
    color: $purplish-brown;
    font-family: $font-dinpro-bold;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    padding-bottom: 30px;
}

.alternative-style {
    padding-bottom: 25px;
}

.alternative-style .subtitle {
    color: $warm-grey;
    font-family: $font-dinpro-medium;
    font-size: 15px;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4;
    width: 380px;
}

.no-button {
    background-color: $white;
    border: solid 1px $white-artic;
    border-radius: 3px;
    box-sizing: border-box;
    color: $purplish-brown;
    cursor: pointer;
    font-family: $font-dinpro-bold;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 2px;
    margin-right: 20px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}

.yes-button {
    background-color: $raizen-primary;
    border: solid 1px $white-artic;
    border-radius: 3px;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    font-family: $font-dinpro-bold;
    font-size: 12px;
    font-weight: bold;
    height: 40px;
    letter-spacing: 2px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
