@import './../sass/colors';

.mat-calendar-body-selected {
  background-color: $raizen-primary;
  color: $white;
}

.mat-form-field-underline {
  display: none;
}

.cdk-global-scrollblock {
  overflow-y: hidden;
  position: initial !important;
}
