@import './../../assets/sass/styles';

.container-fluid {
    background-color: $white-smoke;
    height: 100%;
}

.top-page {
    position: absolute;
    top: 54px;
    width: 100%;
    z-index: 1;
}

.no-padding {
    padding: 0 !important;
}
