<div class="container-fluid">
    <div class="row top-page no-padding">  
        <div class="col-12 no-padding">            
            <p>
              home works!
            </p>
        </div> 
    </div>
</div>