$black: #000;
$barney-purple: #961a8d;
$white: #fff;
$light-grey: #e1e0e0;
$warm-grey: #8b8b8b;
$red-pink: #ed3d5e;
$darkish-purple: #861a7f;
$purplish-brown: #342f33;
$white-artic: #e7e7e7;
$seafoam-blue: #62cec1;
$smoke-grey: #f7f7f9;
$light-whisper: #ececec;
$gainsboro: #d9d9d9;
$greyish-brown: #545454;
$whisper: #e8e8e8;
$darkish-pink: #ea368e;
$raizen-primary: #781e77;
$white-smoke: #f4f4f4;
$vivid-cyan: #1fc0da;
$sun: #fdb515;
$caribbean-green: #0ddf9d;
$razzmatazz: #f90a67;
$smoke-grey: #d4d4d4;

