@font-face {
  font-family: 'helveticaneue';
  src: url('/assets/fonts/helvetica-neue.eot'),
        url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'roboto';
  src: url('/assets/fonts/roboto-regular.eot'),
        url('/assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'DINBold';
  src: url('/assets/fonts/DINBold.ttf');
}

@font-face {
  font-family: 'DINPro-Black';
  src: url('/assets/fonts/DINPro-Black_13933.ttf');
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url('/assets/fonts/DINPro-Bold_13934.ttf');
}

@font-face {
  font-family: 'DINPro-Light';
  src: url('/assets/fonts/DINPro-Light_13935.ttf');
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('/assets/fonts/DINPro-Medium_13936.ttf');
}

$font: 'sans-serif';
$font-helveticaneue: 'helveticaneue', $font;
$font-roboto: 'roboto', $font;
$font-dinbold: 'DINBold', $font;
$font-dinpro-black: 'DINPro-Black', $font;
$font-dinpro-bold: 'DINPro-Bold', $font;
$font-dinpro-light: 'DINPro-Light', $font;
$font-dinpro-medium: 'DINPro-Medium', $font;
