// Mixins for Raizen Planning Portal frontend
// clearfix
@mixin clearfix {
  zoom: 1; //For IE
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin filter($value) {
  -webkit-filter: $value;
  -moz-filter: $value;
  -o-filter: $value;
  -ms-filter: $value;
  filter: $value;
}

@mixin animation($value) {
  -webkit-animation: $value;
  animation: $value;
}

@mixin remove-yellow-background($value) {
  -webkit-box-shadow: inset 0 0 0 50px $value;
  box-shadow: inset 0 0 0 50px $value;
}
